<div class="row collection_create_title">
  <%= @collection.title %>
</div>
<%= render partial: "collections/partials/posts_grid" %>
<div class="row save_posts">
  <%= link_to "New Search", root_path, class: "btn btn-success btn-lg" %>
  <%= link_to "Retrieve New Posts", recent_posts_collection_path, class: "btn btn-info btn-lg" %>
</div>