<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="row">
      <% @posts.each do |post| %>
      <div class="col-xs-3">
        <%= image_tag post["images"]["standard_resolution"]["url"] %>
      </div>
      <% end %>
    </div>
  </div>
</div>
