<div class="col-xs-3 ig_post" data-param="<%= post_param(post) if is_api_hash?(post) %>">
  <div class="row ig_post_media">
    <%= image_tag media_url(post) %>
    <%= video_sign if is_video?(post) %>
  </div>
</div>