<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <% @posts.each do |post| %>
      <%= render(partial: "collections/partials/post_item", locals:{ post: post } ) %>
    <% end %>
  </div>
</div>