// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_collection{
  text-align: center;
}
.index_box{
  text-align: center;
  background-color: cadetblue;
  border-radius: 50px;
  height: 200px;
  color: #fff;
  padding: 20px;
  margin: 50px;
}
.box_row{
  margin: 10px;
}